@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: font1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Lausanne-500.woff2);
}